Repository fuchsia-programming/fuchsia, changes with the owners that CODEOWNERS names for each.
All owners: @jbampton, @Andrew-Colman, @BaseMax, @prio101, @ugifractal, @basalumutgazi, @VictorAraica, @ajakov, @ayushrana182, @Anderson-Garcia, @Majalian, @Muriturca

CODEOWNERS:

*                   @jbampton
.*                  @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.html              @Andrew-Colman @basalumutgazi @BaseMax @jbampton @prio101 @ugifractal @VictorAraica
*.go                @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.js                @ajakov @Andrew-Colman @ayushrana182 @BaseMax @jbampton @prio101 @ugifractal
*.json              @ajakov @Andrew-Colman @ayushrana182 @BaseMax @jbampton @prio101 @ugifractal
*.md                @ajakov @Anderson-Garcia @basalumutgazi @BaseMax @jbampton @Majalian @Muriturca
*.mod               @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.php               @ajakov @Andrew-Colman @jbampton @BaseMax
*.py                @Andrew-Colman @basalumutgazi @BaseMax @jbampton @ugifractal @VictorAraica
*.rb                @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.sh                @ajakov @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.sum               @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.toml              @Andrew-Colman @ayushrana182 @basalumutgazi @BaseMax @jbampton @prio101 @ugifractal @VictorAraica
*.xsl               @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.yaml              @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
*.yml               @Andrew-Colman @BaseMax @jbampton @prio101 @ugifractal
requirements.txt    @Andrew-Colman @basalumutgazi @BaseMax @jbampton @ugifractal @VictorAraica

Restyled by prettier-markdown
  doc/source/anglo-nepalese-war.md
  doc/source/gurkhas.md
Owners: @ajakov, @Anderson-Garcia, @basalumutgazi, @BaseMax, @jbampton, @Majalian, @Muriturca

fix(deps): update module github.com/gin-gonic/gin to v1.7.4
  macewindu/go.mod
  macewindu/go.sum
  pdfstar/go.mod
  pdfstar/go.sum
Owners: @Andrew-Colman, @BaseMax, @jbampton, @prio101, @ugifractal

fix(deps): update dependency markdownlint to ^0.24.0
  package-lock.json
  package.json
Owners: @ajakov, @Andrew-Colman, @ayushrana182, @BaseMax, @jbampton, @prio101, @ugifractal

chore(deps): update dependency ruby to v3
  .ruby-version
Owners: @Andrew-Colman, @BaseMax, @jbampton, @prio101, @ugifractal

fix(deps): update module github.com/gocolly/colly to v2
  macewindu/go.mod
  macewindu/go.sum
Owners: @Andrew-Colman, @BaseMax, @jbampton, @prio101, @ugifractal

fix(deps): update module github.com/jung-kurt/gofpdf to v12
  pdfstar/go.mod
Owners: @Andrew-Colman, @BaseMax, @jbampton, @prio101, @ugifractal

fix(deps): update module gopkg.in/go-playground/validator.v8 to v10
  pdfstar/go.mod
Owners: @Andrew-Colman, @BaseMax, @jbampton, @prio101, @ugifractal
