Repository fuchsia-programming/fuchsia, changes with the owners that CODEOWNERS names for each.
All owners: @jbampton, @BaseMax, @Andrew-Colman, @basalumutgazi, @prio101, @ugifractal, @VictorAraica, @ajakov, @ayushrana182, @Anderson-Garcia, @Majalian, @Muriturca, @majidabdulred

Restyled by prettier-markdown
  doc/source/anglo-nepalese-war.md
  doc/source/gurkhas.md
Owners: @ajakov, @Anderson-Garcia, @basalumutgazi, @BaseMax, @Majalian, @Muriturca

fix(deps): update module github.com/gin-gonic/gin to v1.7.4
  macewindu/go.mod
  macewindu/go.sum
  pdfstar/go.mod
  pdfstar/go.sum
Owners: @Andrew-Colman, @BaseMax, @ugifractal, @jbampton

fix(deps): update dependency markdownlint to ^0.24.0
  package-lock.json
  package.json
Owners: @ajakov, @Andrew-Colman, @BaseMax, @prio101, @ugifractal

chore(deps): update dependency ruby to v3
  .ruby-version
Owners: @BaseMax

fix(deps): update module github.com/gocolly/colly to v2
  macewindu/go.mod
  macewindu/go.sum
Owners: @Andrew-Colman, @BaseMax, @ugifractal, @jbampton

fix(deps): update module github.com/jung-kurt/gofpdf to v12
  pdfstar/go.mod
Owners: @Andrew-Colman, @BaseMax, @ugifractal

fix(deps): update module gopkg.in/go-playground/validator.v8 to v10
  pdfstar/go.mod
Owners: @Andrew-Colman, @BaseMax, @ugifractal

CODEOWNERS:

*                   @jbampton
.*                  @BaseMax
*.html              @Andrew-Colman @basalumutgazi @BaseMax @prio101 @ugifractal @VictorAraica
*.go                @Andrew-Colman @BaseMax @ugifractal
*.js                @ajakov @Andrew-Colman @ayushrana182 @BaseMax @prio101 @ugifractal
*.json              @ajakov @Andrew-Colman @BaseMax @prio101 @ugifractal
*.md                @ajakov @Anderson-Garcia @basalumutgazi @BaseMax @Majalian @Muriturca
*.mod               @Andrew-Colman @BaseMax @ugifractal
*.php               @ajakov @Andrew-Colman @BaseMax
*.py                @Andrew-Colman @basalumutgazi @BaseMax @majidabdulred @ugifractal @VictorAraica
*.rb                @Andrew-Colman @BaseMax @prio101 @ugifractal
*.sh                @ajakov @Andrew-Colman @BaseMax @prio101 @ugifractal
*.toml              @BaseMax
*.yaml              @BaseMax
*.yml               @BaseMax
requirements.txt    @Andrew-Colman @basalumutgazi @BaseMax @majidabdulred @ugifractal @VictorAraica
